## Beat plan
{{ plan }}

## Prose written
{{ prose }}

## Known entities (id - name)
{% for entity in entities %}
- {{ entity.id }} - {{ entity.name }}
{% else %}
(none)
{% endfor %}

Return a JSON object with these fields:
- entity_updates: list of {id, patch: {status?, last_referenced_update?, data?}}
- new_relationships: list of {source_id, target_id, rel_type, data?}
- removed_relationships: list of {source_id, target_id, rel_type}
- timeline_events: list of {description, involved_entities: [string]}
- foreshadowing_updates: list of {id, new_status, add_reference?}
